.code-review {
  color: #777;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}

.code-review-accepted {
  color: #5d8a4a;
  background-color: #d8f5cd;
  border-color: #a5d792;
}

.code-review-passed {
  color: #a1882b;
  background-color: #f8eec7;
  border-color: #e2cc7a;
}

.code-review-rejected {
  background-color: #e9aeae;
  border-color: #b33630;
  color: #cd504a;
}

.code-review-form {
  padding: 10px;
  margin: 10px 0;
  overflow: hidden;
}

.code-review-form .buttons {
  float: right;
}

.code-review-form h2 {
  margin: 0;
  line-height: 34px;
}

.code-review-status {
  position: absolute;
  top: 0px;
  right: 160px;
  width: 80px;
  padding: 4px 8px;
  text-align: center;
}
